
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

h1 {
    text-align: center;
    margin: 0;
    padding: 1% 0;
}

.navbar {
    width: 100%;
    margin: 0 auto;
    background-color: rgba(90, 90, 90, 0.836);
    padding: 1% 2% 2%;
    display: flex;
    margin: auto;
    // overflow: hidden;

    input, button {
        height: 25%;
        width: 100%;
        margin: auto;
    }

}

.searchbar {
    width: 30%;
    padding-left: 4%;
    display:flex;
    justify-content: center;

    button {
        width: 15%;
        margin-left: 2%;
    }
}

.results {
    background-color: lightgray;
    margin: 1% auto;
    padding: 2%;
    width: 70%;

    .movie-card {
        // border: 1px solid white;
        text-align: center;
        // margin: 2% auto;
        width: 300px;
        height: 444px;
        // position: relative;

        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .full-card {
        display:flex;
        justify-content: center;
        
        
        .details {
            background-color: rgb(80, 80, 80);
            padding: 1% 1% 1% 3%;
            width: 50%;
            color: white;
            font-size: .9rem;

            .rating {
                background-color: darkgrey;
                padding: .5% 1.3%;
                margin: .5%;
                color: white;
                border-radius: 9px;
            }
            

            
        }

    }
}